
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<div class="login">
    <form action="/Login/Index" method="post">
        <input type="text" placeholder="Ingrese un nombre de usuario" name="usuario" id="usuario"><br>
        <input type="submit" value="Login">
    </form>
    <div id="alert_placeholder"></div>
</div>
